<!DOCTYPE html>
<html>
  <head>
    <title>Blapprails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body id="root">
    <%# <%= react_component 'hello_world' %>
    <%# <%= yield %> 

  </body>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
</html>
